<html>

<head>

    <title>Delete Comment</title>

</head>

<body>
    <%- include navigation.ejs %>
    <% for (let i= 0; i< posts.length; i++) { %>
        
        <%}%>
    
    

</body>

</html>