<div class="topnav">
        <a class="active" href="/create_post">Create Post</a>
        <a href="/your_posts">View Your Posts</a>
        <a href="/all_posts">View All Posts</a>
        <a href="/logout">Log Out</a>
</div>