<html>

<head>

    <title>Sign Up</title>
    <script type="text/javascript" src="/validate.js"></script>
   
</head>

<body>
       
    <section>
          
        <%- include navigation.ejs %>
        <h1>Welcome To Our Sign Up Page</h1>
        <h3>Sign Up Form</h3>
        <form name="signupform" action="/signup" method="POST">
            Create Username
            <input type='text' name='name' placeholder='Enter your name' required minlength='6' maxlength="10"/>
            <br>
            <br>
            Email
            <input type='text' name='email' placeholder='Enter your email'>
            <br>
            <br>
            Password
            <input type='text' name='password' placeholder='Enter your password' required minlength="8" />
            <br>
            <p class="password_pattern">Your password must be at least 8 characters long, with one upper or lower case, and one number </p>
            <br>Confirm Password
            <input type='text' name='confirmpassword' placeholder='Re-enter password' required minlength="8" />
            <br>
            <input type="submit" value="Create">
        </form><br>
        <%- include footer.ejs %>
    </section>
  
</body>
</html>
