<html>

<head>

    <title>Welcome Page</title>
    <style>
            body {
                background-color: lightcyan;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
        
            }
            h1 {
        font-size: 40px;
    }
        </style>
</head>

<body>
        <%- include navigation.ejs %>
    <h1>
        Welcome to our platform
    </h1>
    <%- include footer.ejs %>
</body>

</html>