body {background-color:lightblue;}
h1   {color: grey;}

.home {
    text-align: center;
}
#login_form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;

}
#signup {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

 #signuplink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

#password_pattern {
    font-size: 13px;
    color: red;
  }

  .signup {
    text-align: center;
  }